<div class="login-container">

    <mat-card class="login-card">
        <mat-card-content>
            <div>
                <form class="login-form">
                    <h3 class="text-center text-info">Login</h3>

                    <div class="login-control-input">
                        <mat-icon>email</mat-icon>
                        <mat-form-field class="login-form-field">
                            <input matInput placeholder="E-mail" aria-label="Email">
                        </mat-form-field>

                    </div>
                    <div class="login-control-input">
                        <mat-icon>vpn_key</mat-icon>
                        <mat-form-field class="login-form-field">
                            <input matInput placeholder="Password" aria-label="Password" type="password">
                        </mat-form-field>
                    </div>

                    <br>

                    <div *ngIf="loginError">
                        <p class="login-error"></p>
                    </div>

                    <div>
                        <button type="submit" color="primary">Login</button>
                    </div>

                </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>